{{ partial "header.html" . }}

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <div class="logo">
              {{ with .Site.Params.logoimage }}
                <img src="{{ . }}" width="100%" style="padding: 10px 10px 10px 10px;">
              {{ end }}
              {{ with .Site.Params.logo }}
                <span class="icon {{ . }}"></span>
              {{ end }}
              {{ with .Site.Params.initials }}
                <p>{{ . }}</p>
              {{ end }}
            </div>
            <div class="content">
              <div class="inner">
                <h1>{{ .Site.Title | safeHTML }}</h1>
                <p>{{ .Site.Params.description | safeHTML }}</p>
                <p>{{ .Site.Params.skills | safeHTML }}</p>
              </div>
            </div>
            <nav>
              <ul>
                {{ range .Site.Menus.main }}
                  <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
            </nav>
          </header>

        <!-- Main -->
          <div id="main">
            {{ range .Site.Pages }}
              {{ .Render "onepagestyle" }}
            {{ end }}
            {{ .Render "list" }}
          </div>

        <!-- Multilanguage -->
          <div id="languages">
            {{ if .IsTranslated }}
              {{ range $i, $e := .Translations }}
                {{ if $i }}, {{ end }}<a href="{{ .Permalink }}">{{ $e.Language.LanguageName }}</a>
              {{ end}}
            {{ end }}
          </div>
{{ partial "footer.html" . }}
